<head>
    <link rel="stylesheet" href="../stylesheets/footer-styles.css">
</head>

<!-- CTA Section -->
    <section class="cta-section">
        <div class="container text-center">
            <h2 class="cta-title">Own the Scent. Own the Moment.</h2>
            <p class="cta-text">
                This isn’t just perfume — it’s confidence, charm, and class bottled for you. Because some experiences aren’t meant to be compared by price — only by how they make you feel.
            </p>
            <a href="/products" class="btn btn-cta">Experience Vircosa</a>
        </div>
    </section>