<head>
    <link rel="stylesheet" href="../stylesheets/footer-styles.css">
</head>

<!-- Footer -->
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 mb-5 mb-lg-0">
                            <h3 class="footer-title">Vir<span>cosa</span></h3>
                            <p>Where nature's rarest aromas meet artisanal craftsmanship.</p>
                            <div class="social-icons mt-4">
                                <a href="http://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                                <a href="http://www.instagram.com"><i class="fab fa-instagram"></i></a>
                                <a href="http://www.pinterest.com"><i class="fab fa-pinterest-p"></i></a>
                                <a href="http://www.youtube.com"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
                            <div class="footer-links">
                                <h4>Shop</h4>
                                <ul>
                                    <li><a href="product.html">Women</a></li>
                                    <li><a href="product.html">Men</a></li>
                                    <li><a href="product.html">Gift Sets</a></li>
                                    <li><a href="product.html">Travel Sizes</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
                            <div class="footer-links">
                                <h4>About</h4>
                                <ul>
                                    <li><a href="index.html#about">Our Story</a></li>
                                    <li><a href="#">Ingredients</a></li>
                                    <li><a href="#">Sustainability</a></li>
                                    <li><a href="#">Blog</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="footer-links">
                                <h4>Contact</h4>
                                <ul>
                                    <li><i class="fas fa-map-marker-alt me-2"></i> Lahore, Pakistan</li>
                                    <li><i class="fas fa-phone me-2"></i> +92 300 1234567</li>
                                    <li><i class="fas fa-envelope me-2"></i> hello@vircosa.com</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="copyright">
                        <p>&copy; 2025 Vircosa. All rights reserved.</p>
                    </div>
                </div>
            </footer>