<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Vir<span>cosa</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products">Perfumes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about-us">Our Story</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="contact-us">Contact</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
            <div class="ms-3 d-flex align-items-center">
                <a href="#" class="btn btn-outline-perfume me-2"><i class="fas fa-search"></i></a>
                <a href="/cart" class="btn btn-outline-perfume position-relative">
                    <i class="fas fa-shopping-bag"></i>
                    <!-- <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary cart-count">1</span> -->
                </a>
            </div>
        </div>
    </div>
</nav>