h1,
h2,
h3,
h4,
.navbar-brand {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

/* ===== Navbar ===== */
.navbar {
  background-color: rgba(243, 221, 221, 0.98);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
  padding: 15px 0;
  transition: all 0.3s ease;

  border-radius: 2.5rem;
  margin: 0.5rem;
}

.navbar.scrolled {
  background-color: rgba(252, 231, 231, 0.95);
  padding: 10px 0;
}

.navbar-brand {
  font-size: 1.8rem;
  color: var(--secondary-color);
  letter-spacing: 1px;
}

.navbar-brand span {
  color: var(--primary-color);
}

.nav-link {
  color: var(--dark-color);
  font-weight: 500;
  margin: 0 8px;
  padding: 8px 15px;
  position: relative;
}

.nav-link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
}

.nav-link:hover:before,
.nav-link.active:before {
  width: 100%;
}

.btn-outline-perfume {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  transition: all 0.3s ease;
}

.btn-outline-perfume:hover {
  background-color: var(--primary-color);
  color: white;
}

.navbar-toggler {
  border-radius: 1rem;
  padding: 7.5px;
  transition: all 0.3s ease;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.navbar-toggler:hover {
  border-color:rgb(233, 191, 187);
  transform: scale(1.1);
  border: 1px solid;
}

.navbar-toggler:focus {
  box-shadow: none;
}