* {
    margin: 0;
    padding: 0;

}

body{
    background-color: #335C81;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

#TicTacToe {
    color: #00f476;
    font-size: 5vmin;
    margin-top: 10px;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #b0413e;
    cursor:pointer;
    background-color: #F0F7F4;
}

#reset-button{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
    cursor:pointer ;
}

#new-button{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
    cursor:pointer ;
}

#msg{
    color: #F0F7F4;
    font-size: 5vmin;

}

.msg-container{
    height: 10vmin;
    margin: 20px;
    padding: 20px;
    
}

.hide{
    display: none;
}